*{
  width:100%;
  height:auto;
  margin:0;
}

.topnav{
  height:50px;
  width:100%;
  background-color:red;
}
h1{
  color:red;
}

footer{
  text-align: center;
  bottom: 0px;
  margin: 0%;
  background-color: rgb(206, 8, 255);
  border: 2px solid;
  background-color:red;
}
