*{
  width:100%;
  height:auto;
  margin:0;
}

.topnav{
  height:50px;
  width:100%;
  background-color:red;
}
h1{
  color:red;
}

footer{
  text-align: center;
  bottom: 0px;
  width: 100%;
  margin: 0%;
  background-color: rgb(206, 8, 255);
  padding: 10px 10px;
  border: 2px solid red;
}
